html {
    box-sizing: border-box;
}

/* *, *:before, *:after {
    box-sizing: inherit;
  } */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h3{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
}

/*Header***************************************/
.logo {
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 6px -6px rgb(138, 134, 134);
}

.image_logo {
    margin-top: 20px;
    margin-bottom: 13px;
    max-width: 160px;
    /*reduction de l'image*/
    height: auto;
    /*conserve le ratio de l'image*/
}

/*Header*************************************************/

/*Localisation******************************************/
.localisation {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 16px;
    opacity: 0.8;
}

.localisation i {
    margin-left: -28px;
    margin-top: 6px;
}

.localisation p {
    margin-left: 17px;
    margin-top: 6px;
}
/**************************************************************/

/*****Présentation****************************************/
.Presentation{
    /* height:76vw; */
    background-color: #F6F6F6;
  }

  .bloc_presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    margin: auto;
    /* padding: 20px; */
    padding-bottom: 60px;
    
  }

  .bloc_presentation h1{
    font-size: 23.5px;
 
    max-width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    margin-left: 41px;
    max-width: 250px;
  }

  .premier_p{
    text-align: center;
    margin-top: 15px;
    max-width: 95%;
    font-size: 18px;
    margin-left: 10px;
  }
  
  .deuxieme_p{
    text-align: center;
  }

  .explorer
  {
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 35px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0px;
    color: white;
    box-shadow: 0 8px 6px -6px rgb(138, 134, 134);
    transition: filter 2s, opacity 2s;
        
  }

  

  .explorer:hover{
    filter: drop-shadow(0px 3px 4px black);
   opacity: 0.5;
  }

  /*****Présentation****************************************/

/**Choix****************************************************/
.Bloc_Choix{
    background-color: white;
  }
  
  .Bloc_Choix h2{
    font-size: 24px;
    margin-top: 48px;
    margin-left: 20px;
  }
  
  .Tous_les_choix{
    margin-top: 25px;
  }
  
  /*----1-----------------------------------*/
   .rond {
    border-radius: 15px;
    background-color: #9356DC;
    width: 24px;
    height: 22px;
    margin-top: 6px;
    margin-left: -10px;
    padding-top: 2px;
    text-align: center;
    color: white;
}
  
    .choix {
        width: 88%;
        background-color: #F6F6F6;
        margin-left: -15px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        margin: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 15px;
        font-weight: bolder;
        box-shadow: rgb(153 153 153 / 25%) 0px 5px 9px;
    }

    .fond_choix{
        background-color: #F5EDFF;
    }
  
    .question {
        padding-left: 30px;
        margin-top: 8px;
        text-align: center;
        text-align: left;
        flex-grow: 1;
    }
  
  .fa-mobile-alt, .fa-list-ul {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 4px;
}

.fa-store {
    color: #9356DC;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 4px;
}

 /*----1-----------------------------------*/

 
  /**Choix****************************************************/

  /****MENU*****************************************/
  .Bloc_Menu{
    background-color: #F6F6F6;
  }

  .Bloc_Menu h2{
    margin-top: 65px;
    padding-top: 55px;
    margin-left: 18px;
  }
  
  .Tous_les_menus{
  display: flex;
  flex-direction: column;
  }

  .Tous_les_menus a{
    background-color: white;
    color: black;
  text-decoration: none;

}
  
/*------------Menu1-----------------------------*/
.Menu {
    height: 60vw;
    width: 85%;
    margin: auto;
    background-color: white;
    box-shadow: rgb(153 153 153 / 32%) 0px 5px 20px;
    border-radius: 15px;

    margin-bottom: 27px;
}

  
.image-menu {
    /* height: 95vw; */
    height: 73%;
    position: relative;
    /* width: 20vw; */
}
  
.image-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.etiquette{

    background-color: #44b095;
    color: #ffffff;
    width: 70px;
    height: 20px;

    position:absolute;
top: 10px;
right: 10px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
}
  

  .titre-menu{
      background-color: white;
      display: flex;
      border-radius: 15px;
      justify-content: space-between;
  }


  .titre-menu h4 {
    margin: 0px;
    margin-top: 14px;
    margin-bottom: 3px;
    margin-left: 15px;
    font-size: 18px;
}

.description p{
    padding-bottom: 15px;
    margin-left: 15px;
}

.jaime{
    font-size: 25px;
    margin-top: 15px;
    margin-right: 23px;
}

.fa-solid{
    
    margin-left: -25px;
    color: #FF79DA;
    opacity: 0;
    transition: opacity 1s;
}

.fa-solid:hover{
    opacity: 1;
}


/*------------Menu1-----------------------------*/

  
  /****MENU*****************************************/


  /****Footer*****************************************/

.contact{
    margin-left: -15px;
}

.contact .fa-utensils, .fa-hands-helping{
    margin-right: 10px;
}

.contact ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 46px;
    background-color: #353535;
    color: white;
}

.contact ul li{
    display: flex;
    line-height: 25px;
}

.contact ul li a{
color: white;
text-decoration: none;
}
/****Footer*****************************************/